header, main, body, footer {
    padding-left: 100px;
    /* padding-top: 20px; */
    background-color: rgb(24, 1, 14);
    color: #74526C;
    font-size:10vw;
    font-family: "Playfair Display", serif;  
}
hr {
    border-color: rgb(190, 160, 183);
}
/* @media only screen and (max-width : 800px) {
    header, main, footer, .sidenav{
        padding-left: 0;
        width: 100%;
    }
} */
@media only screen and (max-width: 768px) {
    .sidenav {
      display: none;
    }
    .content {
      margin-right: 0;
    }
    #myVideo {
        max-width: 100%;
        display: block;
        height: auto;
    }
  }
#titletext {
    color: white;
    text-align: right;
    padding-top: 37%;
    padding-left: 30%;
    padding-right: 2%;
    font-family: 'PT Sans Narrow', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 25px;
    font-size: 90px;
    animation-name: titleappear;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
@keyframes titleappear {
    0% {
        position: absolute;
        right: -5rem;
        opacity: 0;
    }
    100% {
        position: absolute;
        right: 0rem;
        opacity: 1;
    }
}
.mainpic {
    width: 100%;
    padding-left: 100px;
}
.lightbox img {
    width: 100%;
    margin-bottom: 2px;
    transition: .2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    max-height: 198px;
    object-fit: cover;
}
#my-name {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.fa-instagram {
    font-size: 250%;
    text-align: center;
    padding-left: 105px;
    padding-top: 5px;
    padding-bottom: -40px;
}
#email {
    padding-top: -50px;
    color: #74526C;
    font-size: 20px;
}
.sidenav-fixed{
    background: linear-gradient(90deg, rgb(48, 6, 30), rgb(24, 1, 14) ),rgb(24, 1, 14);
    color: rgb(190, 160, 183);
    text-align: center;
    border-style: none;
}
#side-links {
    color: #74526C;
    font-size: 25px;
}
.main-art {
    min-height: 300px;
    max-width: 100%;
}
.art-thumb {
    border-radius: 20px;
    height: 250px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;
}
.art-thumb:hover {
    opacity: .5;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    padding-left: 240px;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}